.token {
    display: inline-block;
    width: 55px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    padding-bottom: 10px;
}
.token img, button, p {
    display: block;
}
.token img {
    width: 100%;
    margin-bottom: 5px;
}
.token-image-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 30px;
    margin-left: auto ;
    margin-right: auto ;
}