.token {
    width: 55px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.token-image-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 30px;
}
.token-image-wrapper img {
    width: 100%;
}
.amount-change-wrapper {
    display: block;
    width: 30px;
    font-weight: bold;
    margin: 0 auto;
}
.amount-change-wrapper button{
    display: block;
    margin: 0 auto;
}